{{ define "main" }}
    <main>
    <div class="container">
    
    <article>
        <header>
            <h1><a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }}<sup>DRAFT</sup>{{ end }}</a></h1>
        </header>
        <section>
            <ul class="tags">
            {{ range .Site.Taxonomies.tags }}
            <li><a class="tag-link" href="{{ .Page.Permalink }}">{{ .Page.Title }} <sup>{{ .Count }}</sup></a></li>
            {{ end }}
            </ul>
        </section>
    </article>
   
    </div>
    </main>
{{ end }}