<div class="grad-divider">
<header>
<div id="header" class="container">
    <div class="branding">
        <h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        <div class="site-copy">
            {{- if isset .Site.Params "subtitle" }}
            {{ .Site.Params.Subtitle | markdownify }}
            {{ end -}}
        </div>
    </div>
    <input type="checkbox" id="res-nav">
    <label for="res-nav"><div></div><div></div><div></div></label>
    <nav id="main-nav">
        <ul>
            {{ $currentPage := . -}}
            {{ range .Site.Menus.main -}}
            <li{{if or (eq $currentPage.Title .Name .) (or ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .)) }} class="active"{{ end }}>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end -}}
        </ul>
    </nav>
</div>
</header>