<!doctype html>
<html>
	{{ partial "head.html" . -}}
	<body>
    {{ partial "header.html" . -}}
    {{ block "main" . -}}
    <main>
    <div id="content" class="container">
        <section class="half">
        TBD
        </section>
        <section class="half">
            {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections -}}
            {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) -}}
            {{ range $paginator.Pages -}}
                <article>
                    <header>
                        <time datetime="{{ .Date }}">{{ dateFormat "02 Jan 06 15:04 MST" .Date.UTC }}</time>
                        <h2><a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }}<sup>DRAFT</sup>{{ end }}</a></h2>
                            <summary>
                            {{ if isset .Params "description" -}}
                                {{ .Description -}}
                            {{ else if gt (len .RawContent) 160 -}}
                                {{ slicestr .RawContent 0 160 -}}...
                            {{ else -}}
                                {{ .RawContent -}}
                            {{ end -}}
                            </summary>
                    </header>
                </article>
            {{ end -}}
            {{ template "partials/paginator.html" . -}}
        </section>
    </div>
    </main>
    {{ end -}}
    {{ partial "footer.html" . -}}
	</body>
</html>